{% extends 'base.html' %}

{% block content %}
    {% include 'navigation.html' %}

    <div class="container bg-white border rounded my-2">
        <div class="row d-none d-sm-flex fw-bold">
            <div class="col-2 overflow-hidden">
                Название
            </div>
            <div class="col-2 overflow-hidden">
                Электронный адрес
            </div>
            <div class="col-3 overflow-hidden">
                Телефон
            </div>
            <div class="col overflow-hidden">
                Адрес
            </div>
        </div>
        <div id="clientList">
            {% for client in clients.items %}
                <div class="row my-1 py-1 border-top client">
                    <div class="col-sm-2">
                        <span class="d-sm-none fw-bold">Название:</span>
                        <strong>{{ client.name }}</strong>
                    </div>
                    <div class="col-sm-2">
                        <span class="d-sm-none fw-bold">Электронный адрес:</span>
                        {{ client.email }}
                    </div>
                    <div class="col-sm-3">
                        <span class="d-sm-none fw-bold">Телефон:</span>
                        {{ client.phone }}
                    </div>
                    <div class="col">
                        <span class="d-sm-none fw-bold">Адрес:</span>
                        {{ client.address }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% set items = clients %}
        {% include 'pagination.html' %}
    </div>

{% endblock %}
