{% extends 'base.html' %}

{% block styles %}
<style>
    .add-client-container {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .add-client-container > button:hover {
        opacity: 0.5;
    }
    .add-client-container > button {
        opacity: 1.0;
    }
    .add-client-container > button:active {
        opacity: 1.0;
    }
    .add-client-container::before,
    .add-client-container::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
        margin: 0 10px;
    }
    </styl
</style>
{% endblock %}

{% block content %}
    {% include 'navigation.html' %}

    <div class="container bg-white border rounded my-2">

        {% if "crm_admin" in current_user.roles %}
            <div class="row">
                <div class="col text-center add-client-container">
                    <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#clientModal">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                </div>
            </div>
        {% endif %}

        <div class="row d-none d-sm-flex fw-bold">
            <div class="col-2 overflow-hidden">
                Название
            </div>
            <div class="col-2 overflow-hidden">
                Электронный адрес
            </div>
            <div class="col-3 overflow-hidden">
                Телефон
            </div>
            <div class="col overflow-hidden">
                Адрес
            </div>
        </div>
        <div id="clientList">
            {% for client in clients.items %}
                <div class="row my-1 py-1 border-top client selectable" data-id="{{client.id}}">
                    <div class="col-sm-2">
                        <strong>{{ client.name }}</strong>
                    </div>
                    <div class="col-sm-2">
                        <span class="d-sm-none fw-bold">Электронный адрес:</span>
                        {{ client.email }}
                    </div>
                    <div class="col-sm-3">
                        <span class="d-sm-none fw-bold">Телефон:</span>
                        {{ client.phone }}
                    </div>
                    <div class="col">
                        <span class="d-sm-none fw-bold">Адрес:</span>
                        {{ client.address }}
                    </div>
                </div>
            {% else %}
            <div class="alert alert-warning my-2" role="alert">
                Нет клиентов для отображения.
            </div>
            {% endfor %}
        </div>
        {% set items = clients %}
        {% include 'pagination.html' %}
    </div>

    {% include 'main/add_client_modal.html' %}

{% endblock %}


{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => {

        var selectableList = document.querySelectorAll(".selectable");
        selectableList.forEach((selectable) => {
            selectable.addEventListener("click",() => {
                const clientId = selectable.dataset.id;
                document.location.href = `/client/${clientId}`;
            });
        });
    });
</script>

{% endblock %}