<div class="row">
    <div class="col">
        <a class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#clientModal" data-bs-toggle="modal">{{client.email | default(value="Электронный адрес")}}</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#clientModal" data-bs-toggle="modal">{{client.phone | default(value="Телефон")}}</a>
    </div>
</div>
{% if client.fields %}
    {% for key, value in client.fields %}
        <div class="row">
            <div class="col overflow-hidden">
                <span class="fw-bold">
                    {{key}}
                </span>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col text-truncate toggle-text-truncate">
                <a class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#clientModal" data-bs-toggle="modal">
                    {{value}}
                </a>
            </div>
        </div>
    {% endfor %}
{%endif%}
{% if documents %}
    <div class="row">
        <div class="col">
            <span class="fw-bold">Документы:</span>
            <ul>
                {% for document in documents %}
                <li>
                    <a class="link-warning link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        href="{{ document.event_data['url'] }}">
                        {{ document.event_data["text"] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}