<div class="row">
    <div class="col">
        <a class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#clientModal" data-bs-toggle="modal">{{client.email | default(value="Электронный адрес")}}</a>
    </div>
    <div class="col text-end">
        {% include 'client/actions.html' %}
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#clientModal" data-bs-toggle="modal">{{client.phone | default(value="Телефон")}}</a>
    </div>
</div>
{% for field in important_fields %}
<div class="row">
    <div class="col overflow-hidden">
        <a class="fw-bold link-secondary link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="#clientModal"
            data-bs-toggle="modal">
            {{ field.label }}
        </a>
    </div>
</div>
<div class="row">
    <div class="col text-truncate toggle-text-truncate">
        {{ field.value | default(value="—") }}
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col">
        <a class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#clientModal" data-bs-toggle="modal">{{client.address | default(value="Адрес")}}</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#clientModal" data-bs-toggle="modal">{{client.contact | default(value="Контактное лицо")}}</a>
    </div>
</div>
{% if other_fields | length > 0 %}
<div class="row">
    <div class="col">
        <a class="text-nowrap" data-bs-toggle="collapse" href="#client-fields" aria-expanded="false" aria-controls="client-fields">
            Подробнее <i class="bi bi-caret-down-fill"></i>
        </a>
    </div>
</div>
<div class="collapse" id="client-fields">
    {% for field in other_fields %}
        <div class="row">
            <div class="col overflow-hidden">
                <a  class="fw-bold link-secondary link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    href="#clientModal"
                    data-bs-toggle="modal">
                    {{ field.label }}
                </a>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col text-truncate toggle-text-truncate">
                {{ field.value | default(value="—") }}
            </div>
        </div>
    {% endfor %}
</div>
{%endif%}
<div class="row">
    <div class="col">
        <span class="fw-bold">Менеджеры:</span>
        {% if managers %}
            {% for manager in managers %}
                {% include 'components/user_popover.html' %}
            {% endfor %}
        {% else %}
            —
        {% endif %}
    </div>
</div>
{% if documents %}
    <div class="row">
        <div class="col">
            <span class="fw-bold">Документы:</span>
            <ul>
                {% for document in documents %}
                <li>
                    <a class="link-warning link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        href="{{ document.event_data['url'] }}">
                        {{ document.event_data["text"] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}