<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="commentModalLabel">Добавить комментарий</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/client/comment" method="POST">
                    <input type="hidden" name="id" value="{{client.id}}" required readonly>
                    <input type="hidden" name="event_type" value="Comment" required readonly>
                    <div class="row mb-3">
                        <label for="commentModalText" class="col-md-2 col-form-label">Имя</label>
                        <div class="col-md-10">
                            <input name="text" type="text" class="form-control" id="commentModalText" value="" placeholder="Комментарий" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>