<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="commentModalLabel">Добавить комментарий</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/client/comment" method="POST">
                    <input type="hidden" name="id" value="{{client.id}}" required readonly>
                    <div class="row mb-3">
                        <div class="col-md">
                            <textarea name="text" class="form-control" id="commentModalText" value="" placeholder="Комментарий" required></textarea>
                        </div>
                        <div class="col-auto">
                            <select name="event_type" class="form-select" aria-label="Select event type" required>
                                <option value="Comment">Комментарий</option>
                                <option value="Call">Звонок</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>