{% extends 'base.html' %}

{% block content %}
    {% include 'components/navigation.html' %}

<div class="container">
    <div class="row my-2">
        <div class="col">
            <span class="fw-bold">
                {{client.name}}
            </span>
        </div>
        <div class="col-auto">
            {% include 'client/actions.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="fw-bold">Электронный адрес:</span>
            <a href="#clientModal" data-bs-toggle="modal">{{client.email}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="fw-bold">Телефон:</span>
            <a href="#clientModal" data-bs-toggle="modal">{{client.phone}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="fw-bold">Адрес:</span>
            <a href="#clientModal" data-bs-toggle="modal">{{client.address}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="fw-bold">Менеджеры:</span>
            {% for manager in managers | default(value=[]) %}
                {% include 'components/user_popover.html' %}
            {% endfor %}
        </div>
    </div>

{% include 'client/save_client_modal.html' %}
{% include 'client/comment_modal.html' %}

</div>


<div class="container">
    <div class="row my-2">
        <div class="col">
            <input class="form-control" id="actionsFilter" type="text" placeholder="Фильтр..">
        </div>
    </div>
    <div id="actionsSection">
        {% for event_manager in events %}
            {% set event = event_manager.0 %}
            {% set manager = event_manager.1 %}
            {% include 'components/client_event.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}
