<div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="clientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="clientModalLabel">Изменить клиента</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/client/save" method="POST">
                    <input type="hidden" name="id" value="{{client.id}}" required readonly>
                    <div class="row mb-3">
                        <label for="clientModalName" class="col-md-2 col-form-label">Имя</label>
                        <div class="col-md-10">
                            <input name="name" type="text" class="form-control" id="clientModalName" value="{{client.name}}" placeholder="Имя" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="clientModalEmail" class="col-md-2 col-form-label">Электронный адрес</label>
                        <div class="col-md-10">
                            <input name="email" type="email" class="form-control" id="clientModalEmail" value="{{client.email}}" placeholder="Электронный адрес">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="clientModalPhone" class="col-md-2 col-form-label">Телефон</label>
                        <div class="col-md-10">
                            <input name="phone" type="tel" class="form-control" id="clientModalPhone" value="{{client.phone}}" placeholder="Телефон">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="clientModalAddress" class="col-md-2 col-form-label">Адрес</label>
                        <div class="col-md-10">
                            <input name="address" type="text" class="form-control" id="clientModalAddress" value="{{client.address}}" placeholder="Адрес">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="clientModalContact" class="col-md-2 col-form-label">Контакт</label>
                        <div class="col-md-10">
                            <input name="contact" type="text" class="form-control" id="clientModalContact" value="{{client.contact}}" placeholder="Контактное лицо">
                        </div>
                    </div>
                    <div id="custom-fields">
                        {% if client.fields %}
                            {% for field, value in client.fields %}
                                <div class="row mb-3">
                                    <div class="col">
                                        <input list="available-custom-fields" type="text" class="form-control" value="{{field}}" name="field" required placeholder="Поле">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" value="{{value}}" name="value" required" placeholder="Значение">
                                    </div>
                                    <div class="col-auto">
                                        <a href="#" class="btn btn-danger btn-sm" onclick="removeCustomField(this)">
                                            <i class="bi bi-slash-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="btn btn-primary btn-sm" onclick="addCustomField(this)">
                                <i class="bi bi-plus"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
