<div class="card border-start border-primary border mb-1 shadow-sm event">
    <div class="card-body">
        <div class="d-flex justify-content-between small text-muted mb-2">
            <span>{{ event.created_at | date(format="%Y-%m-%d %H:%M") }}</span>
            <span>
                {% include 'components/user_popover.html' %}
                {% set event_type = event.event_type %}
                {% set event_data = event.event_data %}
                {% include 'components/client_event_type.html' %}
            </span>
        </div>
        {% include 'components/client_event_data.html' %}
    </div>
</div>
