name: Deploy development

on:
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features
      - uses: actions/upload-artifact@v4
        with:
          name: pushkind-crm
          path: |
            ./target/release/pushkind-crm
            ./target/release/check_events
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v4
        with:
          name: pushkind-crm
          path: ./target/release/
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.CICD_PRIVATE_KEY }}
          name: id_rsa # optional
          known_hosts: ${{ secrets.CICD_KNOWN_HOSTS }}
          if_key_exists: fail # replace / ignore / fail; optional (defaults to fail)
      - name: Deploy
        run: |
          ssh cicd@crm.pushkind.com "sudo /usr/bin/systemctl stop pushkind-crm.service"
          ssh cicd@crm.pushkind.com "sudo /usr/bin/systemctl stop pushkind-crm-check-events.service"
          scp ./target/release/pushkind-crm cicd@crm.pushkind.com:/var/www8/html/
          scp ./target/release/check_events cicd@crm.pushkind.com:/var/www8/html/
          scp -r ./config/ cicd@crm.pushkind.com:/var/www8/html/
          scp -r ./assets/ cicd@crm.pushkind.com:/var/www8/html/
          scp -r ./templates/ cicd@crm.pushkind.com:/var/www8/html/
          scp -r ./migrations/ cicd@crm.pushkind.com:/var/www8/html/
          ssh cicd@crm.pushkind.com "cd /var/www8/html/ && /home/cicd/.cargo/bin/diesel migration run"
          ssh cicd@crm.pushkind.com "sudo /usr/bin/systemctl start pushkind-crm.service"
          ssh cicd@crm.pushkind.com "sudo /usr/bin/systemctl start pushkind-crm-check-events.service"
